html *{
    box-sizing: border-box;
}

body{
    margin: 0;
}

.pre-heder {
    background-color: #d1dbe4;
    text-align: center;
}

.pre-heder > div {
    display: inline-block;
}






.pre-heder a {
    color: #194a7a;
    text-decoration: none;
}

.main-heder {
    padding: 1rem 5% 1rem 12%;
    background: #a3b7ca;
    /*position: relative;*/


    flex-direction: row;
    align-items:center;
    flex-wrap: nowrap;
    display: flex;
   
    justify-content: space-between;
    
    
}

.search {
    margin-right: -8rem;
    flex-wrap: nowrap;
    display: flex;
    align-items:center;

}
.search-bar{
    border-radius: 20px;
    width: 25rem;
    height: 2rem;
}

.logo {
    width: 7rem;
    position: absolute;
    top: 1.5rem;
    border-radius: 50%;
}
.action-buttons {
    /*position: absolute;
    right: 20rem;
    bottom: 0;*/
    padding-right: 11rem;
    flex-wrap: nowrap;
    display: flex;
}



.category{
    position:absolute;
    /*border: black solid 2px;/*izbrisat*/
    width: 10rem;
   
    
}
.outer-container{
    box-sizing: border-box;
    width:80%;
    height: 30rem;
    margin-right: 10%;
    margin-left: 10%;
    
    /*background-color: lightcoral;*/

}

ul li{
    list-style-type: none;
    padding-bottom: 0.3rem;
    padding-left: 0.5rem;
    margin-bottom: 0.5rem;
    border: black solid 1px;
    background-color: #d1dbe4;
    color: #194a7a;
    font-size: 1.1rem;
    font-style:bold ;
}

.icons{
    color: #7593af;
}
.src{
    margin-top: 1rem;
    margin-left: 10rem;
    width: 64rem;
    height: 31rem;
}
.but{
    width: 6rem;
    height: 2rem;
    margin: 0.1em;
    border: none;
    font-size: 1rem;
    background-color: #d1dbe4;
    color: #194a7a;
}